# IDE specific files
.vscode/
.idea/
.settings/
.project
.classpath
*.iml

# Compiled files
bin/
*.class

# Logs
*.log

# Package files
*.jar
!libs/*.jar  # Keep the jar files in libs directory

# Database configuration
*.properties

# OS specific
.DS_Store
Thumbs.db 